<div class="card comment-card">
    <div class="card-header flex-row justify-space-between"> </div>        
    <div class="card-body">
        <p class="card-content">{{body}}</p>
        <p class="card-content">-{{user.name}}, {{format_date createdAt}}</p>
    </div>
</div>