<h3 class="card-header text-uppercase">Login</h3>
<form id="user-form" class="form login-form card-body">
    <label for="username-login">Username</label>
    <input class="form-input" type="text" id="username-login" autofocus="true" />
    <label for="password-login">Password</label>
    <input class="form-input" type="password" id="password-login" />
    <button class="btn btn-primary" type="submit">Login!</button>
    <a href="/signup">Sign up instead</a>
</form>

<script src="./js/login.js"></script>

<script>
    document.title = 'Login';
</script>