<div class="card-edit">
    <div class="card-header-edit flex-row justify-space-between">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-content">{{format_date createdAt}}</p>
    </div>
</div>