<div class="card post-form hidden">
    <h3 class="card-header text-uppercase">Add New Comment</h3>
    <form class="form card-body">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title" autofocus="true" />
        <label for="post-body">Content</label>
        <textarea class="form-input" id="post-body"></textarea>
        <button
        id="submit-post"
        class="btn btn-primary"
        type="submit"
        data-userid="{{user_id}}">
        Create</button>
    </form>
</div>