<h3 class="card-header text-uppercase">Sign Up</h3>
<form id="user-form" class="form signup-form card-body">
    <label for="username-signup">Username</label>
    <input class="form-input" type="text" id="username-signup" autofocus="true" />
    <label for="password-signup">Password</label>
    <input class="form-input" type="password" id="password-signup" />
    <button class="btn btn-primary" type="submit">Sign Up!</button>
    <a href="/login">Login instead</a>
</form>

<script src="./js/signup.js"></script>

<script>
    document.title = 'Sign Up';
</script>