<div class="container toggle-container">
    {{#each posts}}
    {{> post-details-dashboard}}
    {{/each}}
</div>
{{> post-form user_id=currentUserId}}
<div class="footer">
    <button class="btn" id="footer-btn"> + Add Post </button>
</div>

<script>
    document.title = "Tech Blog - Dashboard";
</script>