{{#each posts}}
<div class="container">
    {{> post-details-dashboard}}
</div>
{{> post-form user_id=../currentUserId}}
{{/each}}
<div class="footer">
    <button data-language="" class="btn" id="footer-btn"> + Add Post </button>
</div>