{{#each post}}

<div class="container">
    {{> post-details}}
</div>

<div class="toggle-container">
{{#if comments}}
<div class="comment-container">
    {{#each comments}}
    {{> comment-details current_user=../../currentUserId}}
    {{/each}}
</div>
{{/if}}
</div>

{{> comment-form user_id=../currentUserId title="Create New"}}
{{> comment-form user_id=../currentUserId title="Edit" edit=true}}

{{#if ../loggedIn}}
<div class="footer">
    <button data-postid="{{id}}" class="btn" id="footer-btn"> + Add Comment </button>
</div>
{{/if}}

{{/each}}

<script>
    document.title = "Tech Blog - Post";
</script>